<div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary" [class.blue]="isAvailbale">Laptop</strong>
            <h3 class="mb-0">
                <!-- interpolation -->
                <!-- custom attribute -->
                <a class="text-dark" href="#" [attr.CustonNameAttribute]="name">{{name}}</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <!-- property binging -->
            <!-- style binding -->
            <p class="card-text mb-auto" [innerHTML]="description" [style.color]="color">This is a wider card with
                supporting text below as a
                natural lead-in to
                additional content.</p>
            <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block"
            data-src="assets/Images/pexels-matheus-bertelli-799443.jpg" style="width: 200px; height: 250px;"
            src="assets/Images/lenovo-laptop-ideapad-gaming-3-gen-7-15-amd-features-1.jpg" data-holder-rendered="true">
    </div>
</div>