
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slider-03.jpg" class="d-block w-100"style="width: 200px; height: 200px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider-02.jpg" class="d-block w-100"style="width: 200px; height: 200px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider-01.jpg" class="d-block w-100" style="width: 200px; height: 200px;" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="modal-body p-5">
  <h2 class="fw-bold mb-0">What's new</h2>

  <ul class="d-grid gap-4 my-5 list-unstyled small">
    <li class="d-flex gap-4">
      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
      <div>
        <h5 class="mb-0">Grid view</h5>
        Not into lists? Try the new grid view.
      </div>
    </li>
    <li class="d-flex gap-4">
      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
      <div>
        <h5 class="mb-0">Bookmarks</h5>
        Save items you love for easy access later.
      </div>
    </li>
    <li class="d-flex gap-4">
      <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
      <div>
        <h5 class="mb-0">Video embeds</h5>
        Share videos wherever you go.
      </div>
    </li>
  </ul>
  <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
</div>