<!-- <h1>Hi from Our First Angular App</h1>
<h2> Hello from {{title}}</h2>
<h3> {{saymyname()}} -->


<!-- Lab - 01 -->

<!-- <app-navbar> </app-navbar>
<div class="container-fluid" style="height: 100vh;">
  <section class="row">

    <app-aside class="col-2"></app-aside>


    <section class="col-10">

      <section class="row">
        <app-slider class="col-5 h-50 w-50"></app-slider>
      </section>
      <section class="row">
        <app-home class="col-8"></app-home>
      </section>
    </section>


  </section>
</div>


<app-footer></app-footer> -->




<!-- Day - 02 -->
<!-- <app-event-binding></app-event-binding> -->

<!-- <app-student-form></app-student-form> -->


<app-navbar> </app-navbar>
<div class="container-fluid" style="height: 100vh;">
  <section class="row">

    <app-aside class="col-2"></app-aside>


    <section class="col-10">

      <section class="row">
        <app-student-form></app-student-form>
        <app-slider-img></app-slider-img>
      </section>
    </section>


  </section>
</div>


<app-footer></app-footer>